<!DOCTYPE html>
<html>
  <head>
    <title>Google</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRy3ZgRvpz978yLwn4pK-K-BQWLI7slN8&callback=myMap"></script>

  <body>
    <%= yield %>
  </body>
</html>
